In [8]:
# KEYWORDS

import keyword
print(keyword.kwlist)

class_no = 10
return_value = 5
if_string = "hello"
else_pi = 3.14

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [9]:
# COMMENTS

def add_number(a,b):
    """
     Here the addition of the two numbers are done 
     This function will return the addition of the two numbers
    """
    
    return a+b;

In [10]:
print(add_number.__doc__)

     Here the addition of the two numbers are done
     This function will return the addition of the two numbers

In [11]:
# INDENTATION

if True:
    print("This is True")

This is True

In [12]:
# STATEMENTS

x=3
if x>0:
    print("positive number")

positive number

In [17]:
  # multiline statement

s = 1 + 1 + 2 + 3 + 2 + 5 + 4 + 4 + 6 + 1 + 4 + 7 + 8 \
    + 1 + 1 + 1 + 1 + 1 + 1 + 1 + 1 + 1 + 1
print(s)

s = (1 + 1 + 2 + 3 + 2 + 5 + 4 + 4 + 6 + 1 + 4 + 7 + 8 
    + 1 + 1 + 1 + 1 + 1 + 1 + 1 + 1 + 1 + 1)
print(s)

58
58

In [2]:
# VARIABLE

a = 10
book = "Balbharathi"
print(a)
print(book)

10
Balbharathi

In [10]:
#INTEGER
x = 12
print(type(x))

# FLOAT
b = 10.10
print(type(b))

# Strings
c = "Cat"
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [14]:
# List
l = ["Stranger", 1 , "10.5"]
print(l)

['Stranger', 1, '10.5']

In [15]:
l[1] = "OP"
print(l)

['Stranger', 'OP', '10.5']

In [16]:

# TUPLES

t = (10 , "s" , 10.5)
print(t)
# changes cannot be done once they created

(10, 's', 10.5)

In [23]:

# Dictionaries

d = {1:"burger" , "float" : 10.50 , 1.1 : "pizza"}
print(d)

{1: 'burger', 'float': 10.5, 1.1: 'pizza'}

In [24]:
d = {1:"burger" , "integer" : 10 , 1.1 : "pizza"}
print(d)

{1: 'burger', 'integer': 10, 1.1: 'pizza'}

In [2]:

# Sets

s = {"Coding", "is", "easy"}
print(s)

{'easy', 'is', 'Coding'}

In [27]:

# standard output
print("Hello, Sanket this side!")

Hello, Sanket this side!

In [34]:
# standard input
name = input("Enter your name : ")
print("Hello " + name + " how are you?")

    # second syntax
word = input()
print(f"how are you, {word}")

Enter your name :  sanket

Hello sanket how are you?

 buddy

how are you, buddy