In [12]:
# FOR LOOP : the loop get executed upto the defined conditions


# range(): generating sequence of the number 1,2,3,4,5
# range(stop):

for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
# the range(i,j) where 'i' is inclusive and 'j' is exclusive
# range(start, stop):

for i in range(2,5):   # i= 2,3,4
    print(i)

2
3
4

In [6]:
# range(start, stop, step/skip):

for i in range(0, 20, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18

In [10]:
# for loop on the list 

fruits = ["apple","cherry","banana","grapes"]

for i in fruits:
    print(i)

apple
cherry
banana
grapes

In [11]:
country = ["India","UK","USA", "Germany  "]

for ct in country:
    print(ct)

India
UK
USA
Germany

In [4]:
country = ["India","UK","USA", "Germany  "]

for index in range(len(country)):
    print(country[index])
    
print(len(country))

India
UK
USA
Germany
4

In [11]:
# NESTED for loop

rows = 5

for i in range(rows):
    for j in range(i+1):
        print("*", end=" ")    # the print move us to the next line but the end="" help to write in the same line
    print()

*
* *
* * *
* * * *
* * * * *

In [18]:
# WHILE lOOP : The statement get executed until the condition is true

count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [1]:
word = ""

while word != "quit":
    word = input("Enter a word (or quit to exit): ")
    print("You entered: ", word)

Enter a word (or quit to exit):  today is sunday

You entered:  today is sunday

Enter a word (or quit to exit):  monday is buzy day

You entered:  monday is buzy day

Enter a word (or quit to exit):  I need to study daily

You entered:  I need to study daily

Enter a word (or quit to exit):  quit

You entered:  quit

In [1]:
# While is genrally use when stop condition will be satisfied, we do not know

# We have a list nm = [Alice, Tom, Marry, James]
# Salary = []
# give 5% bonus to James only as he is performing great. Boss is happy

names = ["Alice","Tom","Marry","James"]
salary = [30000, 40000, 45000, 40000]

print("Old salary is:")
print(salary)
# First sub problem is we will iterate both lists
# We need to update salary of James only

for i in range(len(names)):
    if names[i] == "James":
        increment = salary[i] * 0.05
        salary[i] += increment

print("Updated Salary is:")
print(salary)

Old salary is:
[30000, 40000, 45000, 40000]
Updated Salary is:
[30000, 40000, 45000, 42000.0]