In [7]:
# String operations

name = "John Doe"
print(name)

# index starts from 0 to n-1
print(name[0])
print(name[4])
print(name[7])

John Doe
J

e

In [14]:
# for loop
for i in "hello":
    print(i)

# length function
pan = "ABCDE1234F"
print(len(pan))

h
e
l
l
o
10

In [28]:
# finding word in the string

# method 1:
chat = "Indian economy growth is good compared to the big countries"
print("compared" in chat)

# method 2:
if "compared" in chat:
    print("True! The Data is there in chat you searched for.")

# method 3:
if "issss" not in chat:
    print("True! The Data is NOT there in chat.")

True
True! The Data is there in chat you searched for.
True! The Data is NOT there in chat.

In [7]:
# Slicing 
# string name[start,end]   start==> inclusive, end ==> exclusive

name = "John Doe"

print(name[0:3])
print(name[0:4])
print(name[:6])  # if the start index is empty then it consider from the start
print(name[5:])   # if the end index is empty then it means that the process till the end 
print(name[-3:])  # the negative way of slicing, the last element is -1.
print(name[-7:-4])

Joh
John
John D
Doe
Doe
ohn

In [17]:
# capital and small string

name = "joHn dOe"
print(name.upper())  # this function is used to store the string in capital letters
print(name.lower())  # this function is used to store the string in capital letters

JOHN DOE
john doe

In [4]:
# replace

name = "john doe"
print(name.replace("d","H")) # replace(what, by)
print(name.replace("j","J"))

john Hoe
John doe

In [8]:
name = "john doe"
print(name.split("o")) # split the string where the "o" comes
print(name.split(" ")) # split the string where the space is given

['j', 'hn d', 'e']
['john', 'doe']

In [27]:
# concatenate

n1 = "John"
n2 = "Doe"
name = n1 + " " + n2
print(name)

John Doe

In [41]:
list1 = ["Apple","Banana","Cherries"]
print(list1)
print("----------------------------------------")
list1[1] = "Mangoes"
print(list1)

['Apple', 'Banana', 'Cherries']
----------------------------------------
['Apple', 'Mangoes', 'Cherries']

In [11]:
# Changing multiple elements in the list

list1 = ["Apple","Banana","Cherries","Grapes","Almonds"]
print(list1)
print("----------------------------------------")
list1[1:3] = ["Mangoes","Blue Berries"]
print(list1)

['Apple', 'Banana', 'Cherries', 'Grapes', 'Almonds']
----------------------------------------
['Apple', 'Mangoes', 'Blue Berries', 'Grapes', 'Almonds']

In [56]:
# Inserting the new element in the pre-existing string    ===> insert()

list1 = ["Apple","Banana"]
print(list1)
print("----------------------------------------")
list1.insert(1, "Mangoes")
print(list1)

['Apple', 'Banana']
----------------------------------------
['Apple', 'Mangoes', 'Banana']

In [54]:
#  Append a new element in list    ===> append()

# Inserting the new element in the pre-existing string

list1 = ["Apple","Banana"]
print(list1)
print("----------------------------------------")
list1.append("Orange")
print(list1)

['Apple', 'Banana']
----------------------------------------
['Apple', 'Banana', 'Orange']

In [55]:
# copy one list to another list  ===>  extend()

list1 = ["Apple","Banana"]
list2 = ["Mangoes","Cherries"]
list1.extend(list2)
print(list1)

['Apple', 'Banana', 'Mangoes', 'Cherries']

In [53]:
# Removing the particular element by the name   ===> remove()

list1 = ["Apple","Banana","Mangoes","Grapes","Almonds"]
print(list1)
print("----------------------------------------")
list1.remove("Almonds")
print(list1)

['Apple', 'Banana', 'Mangoes', 'Grapes', 'Almonds']
----------------------------------------
['Apple', 'Banana', 'Mangoes', 'Grapes']

In [52]:
# Removing the particular element by the index   ===>  pop()

list1 = ["Apple","Banana","Mangoes","Grapes","Almonds"]
print(list1)
print("----------------------------------------")
list1.pop(4)
print(list1)

['Apple', 'Banana', 'Mangoes', 'Grapes', 'Almonds']
----------------------------------------
['Apple', 'Banana', 'Mangoes', 'Grapes']

In [51]:
# Removing the particular element by the index  ===>  pop()

list1 = ["Apple","Banana","Mangoes","Grapes","Almonds"]
print(list1)
print("----------------------------------------")
list1.pop()
print(list1)
list1.pop()
print(list1)

['Apple', 'Banana', 'Mangoes', 'Grapes', 'Almonds']
----------------------------------------
['Apple', 'Banana', 'Mangoes', 'Grapes']
['Apple', 'Banana', 'Mangoes']

In [60]:
# Deleting the element   ====> del

list1 = ["Apple","Banana","Mangoes","Grapes","Almonds"]
print(list1)
print("----------------------------------------")
del list1[1]
print(list1)

['Apple', 'Banana', 'Mangoes', 'Grapes', 'Almonds']
----------------------------------------
['Apple', 'Mangoes', 'Grapes', 'Almonds']

In [68]:


list1 = ["Apple","Banana","Mangoes","Grapes"]
for i in list1:
    print(i)

Apple
Banana
Mangoes
Grapes

In [12]:


list1 = ["Apple","Banana","Mangoes","Grapes"]
print(len(list1))
for i in range (len(list1)):
    print(list1[i])

4
Apple
Banana
Mangoes
Grapes

In [4]:
list1 = ["Apple","Banana","Mangoes","Grapes"]
newlist = []

for i in list1:
    if "B" in i:
        newlist.append(i)
        
print(newlist)

['Banana']

In [10]:
# List Comprehension

newlist = [i for i in list1 if "A" in i]
print(newlist)

['Apple']

In [13]:
#  Sorting a list ====> .sort()

list1 = ["Mangoes","Banana","Grapes","Apple"]

list1.sort()
print(list1)

['Apple', 'Banana', 'Grapes', 'Mangoes']

In [19]:
# reversing a list

list1 = ["Mangoes","Banana","Grapes","Apple"]
list1.sort(reverse = True)
print(list1)

['Mangoes', 'Grapes', 'Banana', 'Apple']

In [25]:

a = [1, 20, 50, 25, 21, 2, 98]
a.sort()
print(a)

[1, 2, 20, 21, 25, 50, 98]

In [27]:
# Copy a list in another list ====> .copy()

list1 = ["Mangoes","Banana","Grapes","Apple"]
list2 = list1.copy()
print(list2)

['Mangoes', 'Banana', 'Grapes', 'Apple']

In [31]:
# Tupple

tup1 = ("Apple","Banana")
print(tup1[1])

Banana

In [32]:
tup1 = ("Apple","Banana","Mangoes")
for i in tup1:
    print(i)

Apple
Banana
Mangoes

In [33]:
tup1 = ("Apple","Banana","Mangoes")
for i in range(len(tup1)):
    print(tup1[i])

Apple
Banana
Mangoes

In [1]:
tup1 = ("Apple","Banana","Mangoes")
tup2 = (1, 2, 3,  4)
tup3 = tup1 + tup2
print(tup3)

('Apple', 'Banana', 'Mangoes', 1, 2, 3, 4)