In [49]:
# Sets

set1 = {"UK", "US", "Germany"}
print(set1)

{'Germany', 'UK', 'US'}

In [50]:
# we cannnot have the duplicate sets

set1 = {"UK", "US", "Germany","Germany"}
print(set1)
print(len(set1))

{'Germany', 'UK', 'US'}
3

In [2]:
# set constructor for making a set

set1 = set(("UK", "US", "Germany"))
print(set1)

{'Germany', 'US', 'UK'}

In [5]:
# union of sets ===> new set of the two set are added in it

set1 = {"UK", "US", "Germany","Germany"}
set2 = {10, 20, 30, 40}
set3 = set1.union(set2)
print(set3)

{'UK', 20, 'Germany', 40, 10, 'US', 30}

In [7]:
#update() ===> adding the another set to the already existing set

set1 = {"UK", "US", "Germany","Germany"}
set2 = {10, 20, 30, 40}

set1.update(set2)
print(set1)

{'UK', 20, 'Germany', 40, 10, 'US', 30}

In [15]:
# used to print the common/duplicate elements
# intersection()
# intersection_update()  ===> update the existing set

set1 = {"UK", "US", "Germany"}
set2 = {"KSA", "Italy", "Germany","India"}

set3 = set1.intersection(set2)
print(set3)

set1.intersection_update(set2)
print(set1)

{'Germany'}
{'Germany'}

In [60]:
s = {"Fortuner", "Scorpio", "Thar Roxx", "Endeavour"}
c = {"Thar Roxx", "Defender", "Hummer"}

u = s.union(c)
print(u)

{'Endeavour', 'Defender', 'Hummer', 'Thar Roxx', 'Fortuner', 'Scorpio'}

In [55]:
# practice
s = {"Fortuner", "Scorpio", "Thar Roxx", "Endeavour"}
c = {"Thar Roxx", "Defender", "Hummer"}

s.update(c)
print(s)

{'Endeavour', 'Defender', 'Hummer', 'Thar Roxx', 'Fortuner', 'Scorpio'}

In [56]:
# practice
s = {"Fortuner", "Scorpio", "Thar Roxx", "Endeavour"}
c = {"Thar Roxx", "Defender", "Hummer"}

u = s.intersection(c)
print(u)

{'Thar Roxx'}

In [58]:
# practice
s = {"Fortuner", "Scorpio", "Thar Roxx", "Endeavour"}
c = {"Thar Roxx", "Defender", "Hummer"}

s.intersection_update(c)
print(s)

{'Thar Roxx'}

In [53]:
# just want to store the unique values not the duplicate values

set1 = {"UK", "US", "Germany"}
set2 = {"KSA", "Italy", "Germany","India"}

set3 = set1.symmetric_difference(set2)
print(set3)

set1.symmetric_difference_update(set2)
print(set1)

{'India', 'US', 'UK', 'Italy', 'KSA'}
{'India', 'US', 'UK', 'Italy', 'KSA'}

In [59]:
# practice
s = {"Fortuner", "Scorpio", "Thar Roxx", "Endeavour"}
c = {"Thar Roxx", "Defender", "Hummer"}

u = s.symmetric_difference(c)
print(u)

s.symmetric_difference_update(c)
print(s)

{'Defender', 'Hummer', 'Endeavour', 'Fortuner', 'Scorpio'}
{'Defender', 'Hummer', 'Endeavour', 'Fortuner', 'Scorpio'}

In [10]:
set1 = {"Fortuner", "Scorpio", "Thar Roxx", "Endeavour"}

for i in set1:
    print(i)

Fortuner
Scorpio
Endeavour
Thar Roxx

In [34]:
# Dictionaries
#python version 3.7 and above they are ordered, but 3.6 and below they are unordered

d1 = {"name":"Alice", "Age":21, "city":"Birmingham"}

print(d1)
print(d1["name"])

{'name': 'Alice', 'Age': 21, 'city': 'Birmingham'}
Alice

In [30]:
#  city get overwritten

d1 = {"name":"Alice", "Age":21, "city":"Birmingham", "city":"Mumbai"}
print(len(d1))
print(d1)
print(d1["city"])
print(type(d1))

3
{'name': 'Alice', 'Age': 21, 'city': 'Mumbai'}
Mumbai
<class 'dict'>

In [33]:
ky = d1.keys()
print(ky)

for k in ky:
    print(k)

dict_keys(['name', 'Age', 'city'])
name
Age
city

In [64]:
# dict() constructor

d1 = dict(name="Thomas Shelby", Age=21, city="Birmingham")
print(d1)

{'name': 'Thomas Shelby', 'Age': 21, 'city': 'Birmingham'}

In [70]:
d1 = {"name":"Thomas Shelby", "Age":21, "city":"Mumbai"}
print(d1)
d1["city"] = "Birmingham"
print(d1)

{'name': 'Thomas Shelby', 'Age': 21, 'city': 'Mumbai'}
{'name': 'Thomas Shelby', 'Age': 21, 'city': 'Birmingham'}

In [80]:
# Using update

d1 = {"name":"Thomas Shelby", "Age":21, "city":"Mumbai"}
print(d1)
d1.update({"city":"Birmingham"})  # if the key is already in dictionary then it will update the value
print(d1)

{'name': 'Thomas Shelby', 'Age': 21, 'city': 'Mumbai'}
{'name': 'Thomas Shelby', 'Age': 21, 'city': 'Birmingham'}

In [78]:
# adding element in the dictionary
# 1
d1 = {"name":"Thomas Shelby", "Age":21, "city":"Birmingham"}
print(d1)
d1["gun"] = "M416"
print(d1)

{'name': 'Thomas Shelby', 'Age': 21, 'city': 'Birmingham'}
{'name': 'Thomas Shelby', 'Age': 21, 'city': 'Birmingham', 'gun': 'M416'}

In [81]:
# 2

d1 = {"name":"Thomas Shelby", "Age":21, "city":"Birmingham"}
print(d1)
d1.update({"Map":"Erangle"})    # if the key is not there in dictionary then it will update the value
print(d1)

{'name': 'Thomas Shelby', 'Age': 21, 'city': 'Birmingham'}
{'name': 'Thomas Shelby', 'Age': 21, 'city': 'Birmingham', 'Map': 'Erangle'}

In [11]:
# deleting the element
#1

d1 = {"name":"Thomas Shelby", "Age":21, "city":"Birmingham"}
print(d1)

d1.pop("Age")
print(d1)

{'name': 'Thomas Shelby', 'Age': 21, 'city': 'Birmingham'}
{'name': 'Thomas Shelby', 'city': 'Birmingham'}

In [15]:
# 2

d1 = {"name":"Thomas Shelby", "Age":21, "city":"Birmingham"}
print(d1)

del d1["Age"]
print(d1)

del d1   # deleting the whole dictionary from root 
d1 = {"name":"Thomas Shelby", "Age":21, "city":"Birmingham"}
# print(d1)

{'name': 'Thomas Shelby', 'Age': 21, 'city': 'Birmingham'}
{'name': 'Thomas Shelby', 'city': 'Birmingham'}

In [13]:
# clear() ===> used to delete the all elements of the dictionary

d1 = {"name":"Thomas Shelby", "Age":21, "city":"Birmingham"}
print(d1)

d1.clear()
print(d1)

{'name': 'Thomas Shelby', 'Age': 21, 'city': 'Birmingham'}
{}

In [24]:

d1 = {"name":"Thomas Shelby", "Age":21, "city":"Birmingham"}
# printing the keys
for i in d1:
    print(i)

# printing the values
for i in d1:
    print(d1[i])

# printing the values
for  i in d1.values():
    print(i)

name
Age
city
Thomas Shelby
21
Birmingham
Thomas Shelby
21
Birmingham

In [26]:
# copy ===> to  copy the dictionary to another dictionary

d1 = {"name":"Thomas Shelby", "Age":21, "city":"Birmingham"}

d2 = d1.copy()
print(d2)

{'name': 'Thomas Shelby', 'Age': 21, 'city': 'Birmingham'}

In [34]:
# nested dictionaries

d = {"d1":{"name":"Thomas Shelby", "city":"Birmingham"}, "d2":{"name":"Thomas Shelby", "city":"Birmingham"}, "d3":{"name":"Thomas Shelby", "city":"Birmingham"}}
print(d)
print(d["d1"])

{'d1': {'name': 'Thomas Shelby', 'city': 'Birmingham'}, 'd2': {'name': 'Thomas Shelby', 'city': 'Birmingham'}, 'd3': {'name': 'Thomas Shelby', 'city': 'Birmingham'}}
{'name': 'Thomas Shelby', 'city': 'Birmingham'}

In [42]:
# FUNCTIONS

def fun():   # def function_name() :
    print("Data Science has vast scope in future")

fun() # calling the function

Data Science has vast scope in future

In [47]:
# passing parameter/argument in the function

def fun1(name):
    print(name + " will own the G63 soon")

fun1("Stranger")

Stranger will own the G63 soon